body {
	color: whitesmoke;
	background-color: darkslategray;
}

.application {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.navigation {
}

.nav-item {
	padding: 1rem;
	cursor: pointer;
}

